@font-face {
	font-family: 'Core Sans G';
	src: url('../fonts/CoreSansG-ExtraLight.ttf'); /* IE 9 Compatibility Mode */
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Medium.ttf'); /* IE 9 Compatibility Mode */
}