@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');
body{
    margin: 0;
}
.header{
    width: 100%;
    height: 80px;
    background:white;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 0;
    
}
.logo{
    margin-right: 69%;
    margin-top: 34px;
}
.header-button_list{
margin-top: 30px;
margin-right:7.2%;
}

.header-a{
    text-decoration: none;
    margin-left: 17px;
    font-family: Montserrat;
    color: black;
    color:#191919;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
}
.header-a:hover{
    color: cyan;
}
.header-sec{
    width: 100%;
    height: 352px;
    background: url(../images/html-color-codes-color-tutorials-hero-00e10b1f.jpg) no-repeat;
    opacity: 0.4;
    background-color: #141414;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-sec-first{
    font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 38px;
line-height: 48px;
color: #FFFFFF;
letter-spacing: 0.38px;
}
.header-sec-second{
font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;
letter-spacing: 0.09px;
color: #FFFFFF;
text-align: center;
margin-top: 43px;
}
.header-last{
    width: 100%;
    height: 243px;
    background-color: #10C9C3;
    margin-top: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-grow: 0;
}
.header-last-main{
    width: 70%;
    height: 243px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.last-first{
    display: flex;
    flex-direction: row;
}
.last-second{
    display: flex;
    flex-direction: row;
}
.last-third{
    display: flex;
    flex-direction: row;
}
.last-four{
    display: flex;
    flex-direction: row;
}
.second_div_p1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
}
.second_div_p2{
    font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 30px;
color: #FFFFFF;
}
.second_div-img{
    display: flex;
    flex-direction: column;
}
.first_div-img{
    height: 36px;
    margin-top: 15px;
    margin-right: 15px;
}
.about{
    width: 100%;
    background: white;
    height: 573px;
    display: flex;
    flex-direction: row;
}
.about_img{
    display: inline-block;
    width: 50%;
    object-fit: cover;
}
.about_text_1{
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 84px;
color: #171717;
margin-right: 45%;
}
.about_text_2{
font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #787878;

}
.about_text{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-left: 20px; */
}
.main{
    width: 100%;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project{
    width: 50%;
    height: 195px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main_project-ques{
    font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 84px;
color: #1D1D1D;
letter-spacing: 0.3px;
}
.main_project-amout{
    font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.08px;
color: #787878;
text-align: center;
}
.project_button-text{
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 84px;
letter-spacing: 1.2px;
text-transform: uppercase;
color: #FFFFFF;
}
.main_project-button{
    width: 183px;
    height: 57px;
    background-color:#10C9C3;
    text-align: center;
    margin-top: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.footer{
    width: 100%;
    height: 286px;
    background: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_text{
    width: 84%;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer_main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.footer_text_first-text1{
    font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 72px;
letter-spacing: 0.18px;
color: #FFFFFF;
}
.footer_text_first-text2{
    font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 24px;
letter-spacing: 0.075px;
color: #BCBCBC;
}
.footer_text_second-text1{
    font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 24px;
letter-spacing: 0.075px;
color: #BCBCBC
}
.footer_text_third-text1{
    font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 24px;
letter-spacing: 0.075px;
color: #BCBCBC;
}
.footer_text_four-text1{
    font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 24px;
letter-spacing: 0.075px;
color: #BCBCBC;
}
.footer_text_five-text1{
font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 24px;
letter-spacing: 0.075px;
color: #BCBCBC;
}
.footer_text_second{
    margin-top: 10px;
    margin-left: 120px;
}
a{
    text-decoration: none;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.075px;
    color: #BCBCBC;
}